body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* sidebar */
#info {
  z-index: 1000;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 40px 15px;
  background: #343a40;
  color: white;
  overflow-y: auto;
}

/* social media icons */
#info a { color: lightgray; }
#info a:hover { color: white; opacity: 0.3; }

#title {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#desc {
  text-align: center;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
}

#earthquake-count {
  margin: 0;
  text-align: center;
  color: orange;
  font-size: 50px;
}

#footer {
  margin-top: 12px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

/* legend */
#legend {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 10px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.break { position: relative; margin: 0; padding: 0; }
.dot { display: inline-block; margin-top: 5px; border-radius: 50%; opacity: 0.6; }
.dot-label { position: absolute; top: 0; right: 0; font-style: italic; }